[package]
name = "wasmate"
version = "0.1.0"
edition = "2023_01"

# See more keys and their definitions at https://docs.swmansion.com/scarb/docs/reference/manifest.html

[dependencies]
starknet = ">=2.6.3"
snforge_std = { git = "https://github.com/foundry-rs/starknet-foundry.git", tag= "v0.25.0" }

[[target.starknet-contract]]
casm = true
sierra = true

[scripts]
test = "snforge test"